header {
	background: #181818;
}

.logo {
	align-content: center;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

article {
	height: 500px;
}

footer {
	background: #181818;
	height: 300px;
}